@import './theme/_variables';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  max-width: 600px;
  max-height: 800px;
  margin: 0 auto;

  box-shadow: 0 0 50px rgba($lightBlue, 0.5);

  overflow-x: hidden;
  overflow-y: auto;

  ul, li {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
  }

  li {
    border: 1px solid #222;
  
    & > div {
      font-size: 0.85rem;
    }
  }
}

.input-container {

  input {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;

    border-bottom: 1px solid $mateBlue;
    margin: 1rem 0;

    color: #fff;
  
    &:hover,
    &:active,
    &:focus {
      background-color: #222;
      border: none;
      outline: none;
      box-shadow: none;
      color: #fff;

    }

  }

  button.btn {
    width: 100%;
    background-color: $darkBlue;
    border: none;

    &:hover {
      background-color: $mateBlue;
    }
  }
}

.done-info {
  font-size: 0.95rem;
}