@import './theme/_variables';

* {
  transition: all 0.5s ease-in-out;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  max-width: 600px;
  max-height: 800px;
  margin: 0 auto;

  box-shadow: 0 0 50px rgba($lightBlue, 0.5);

  overflow: hidden;

  ul {
    overflow-y: auto;
    max-height: 500px;
  }
  ul, li {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
  }

  li {
    border: 1px solid #222;
    max-width: 98%;
  
    & > div {
      font-size: 0.85rem;

    }
  }
}

.input-container {

  input {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    margin: 1rem 0;

    color: #fff;
    background-color: #222;

    transition: all 0.5s ease-in-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #111;
      border: none;
      outline: none;
      box-shadow: none;
      color: #fff;
    }

  }

  button.btn {
    width: 100%;
    background-color: $darkBlue;
    border: none;

    &:hover {
      background-color: $mateBlue;
    }
  }
}

.btn-link {
  text-decoration: none;
  border: none;
  color: #eee;
  // border: 1px solid #eee;
  margin: 0 0.25rem;
  font-size: 0.7rem;
  
  
  &.done-btn {
    background-color: rgba($lightBlue, 0.4);
  }

  &.remove-btn {
    background-color: rgba($red, 0.4);
  }

  &:hover, &:active, &:focus {
    color: #fff;
    text-decoration: none;

    &.done-btn {
      background-color: rgba($lightBlue, 1);
    }
  
    &.remove-btn {
      background-color: rgba($red, 1);
    }

  }
}

.done-info {
  font-size: 0.95rem;
}



// scrollbar

ul::-webkit-scrollbar {
  width: 0.5rem;
}

ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px rgba(#222, 0.5);
}

ul::-webkit-scrollbar-thumb {
background-color: $mateBlue;
outline: 1px solid $darkBlue;
}