@import './theme/_variables';

* {
  transition: all 0.5s ease-in-out;
}


html, body {
  overflow: hidden;
  background-color: #282C34;
  color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.card-container {
  max-width: 600px;
  max-height: 800px;
  margin: 3rem auto;

  box-shadow: 0 0 30px rgba(#1111, 0.98);

  overflow: hidden;

  border-radius: 5px;

  ul {
    overflow-y: auto;
    max-height: 300px;
  }
  ul, li {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
  }

  li {
    border: 1px solid #222;
    max-width: 98%;
  
    & > div {
      font-size: 0.85rem;

    }
  }
}

.input-container {

  input {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    margin: 1rem 0;

    color: #fff;
    background-color: #222;

    transition: all 0.5s ease-in-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #111;
      border: none;
      outline: none;
      box-shadow: none;
      color: #fff;
    }

  }

  button.btn {
    width: 100%;
    background-color: $darkBlue;
    border: none;

    &:hover {
      background-color: $mateBlue;
    }
  }
}

.btn-link {
  text-decoration: none;
  border: none;
  color: #eee;
  // border: 1px solid #eee;
  margin: 0 0.25rem;
  font-size: 0.7rem;
  
  
  &.done-btn {
    background-color: rgba($lightBlue, 0.4);
  }

  &.remove-btn {
    background-color: rgba($red, 0.4);
  }

  &:hover, &:active, &:focus {
    color: #fff;
    text-decoration: none;

    &.done-btn {
      background-color: rgba($lightBlue, 1);
    }
  
    &.remove-btn {
      background-color: rgba($red, 1);
    }

  }
}

.done-info {
  padding: 1rem 0;
  span {
    font-size: 1.5rem;
  }
}



// scrollbar

ul::-webkit-scrollbar {
  width: 0.5rem;
}

ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px rgba(#222, 0.5);
}

ul::-webkit-scrollbar-thumb {
background-color: $mateBlue;
outline: 1px solid $darkBlue;
}


.btn-tab {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 1rem 0;

  &.tobedone {
    background-color: transparent;
  }

  &.removed {
    background-color: rgba($red, 0.4);

    &:hover, &.active {
      background-color: rgba($red, 1);
    }
    
  }

  &.done {
    background-color: rgba($lightBlue, 0.4);

    &:hover, &.active {
      background-color: rgba($lightBlue, 1);
    }

  }
} 